{% extends "main.html" %}

{% load static %}

{% block content %}
{% include "header.html" %}
<div class="cart py-5" style="min-height: 465px !important;">
    <div class="container" id="container">
    {% if not cartItems  %}
        <div class="text-center"> 
        <h5>Your Shopping Cart is empty. Please select atlease one item to proceed. </h5>
        </div>
    {% else %}
    
    <div class="row" id="row">    
            <div class="col-md-8 order-md-1">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-muted">Your cart</span>
                    <span class="btn btn-secondary" id="cart_count">{{cart_count}}</span>
                </h4>
                <ul class="list-group mb-3">
                   {% for item in cartItems %}
                    <li class="list-group-item d-flex justify-content-between" id="col_{{item.id}}" name="col_cart" onclick="carts();">
                        <div>
                            <h6 class="my-0">{{item.item.name}}</h6>
                            <small class="text-muted">{{item.item.description}}</small>
                            <h6 class="text-muted">{{item.quantity}}</h6>
                        </div>
                        <div>
                            <span class="text-muted"><i class="fas fa-rupee-sign"></i> {{item.item.price}}</span>
                            <div class="mt-3">
                                <button id="btn{{item.id}}" name="{{item.id}}" type="button" class="btn btn-danger" onclick="remove();">remove</button>
                            </div>
                        </div>                   
                    </li>
                     {% endfor %}
                    
                </ul>
            
            </div>
        <div class="price-split col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">PRICE DETAILS</span> 
            </h4>             
            <ul class="list-group mb-3 pt-2">
                <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">Price</h6> 
                </div>
                <span class="text-muted" id="total_price"><i class="fas fa-rupee-sign"></i></span>
                </li>
                <form class="card px-2 pt-2 pb-2" action="" method="get">
                    {% csrf_token %}
                    <input value="" type="hidden"  name="item_id" id="item_id"  />
                    <button type="button" class="btn round btn-danger" id="btn_checkout" disabled>Proceed to checkout</button>
                </form>
            </ul> 
             
        </div> 
    </div>
    {% endif %} 
</div>
</div>

{% include "footer.html"%}	
<script>
    var total_price = document.getElementById("total_price");
    var item_id = document.getElementById("item_id");
    var col_cart = document.getElementsByName("col_cart");    
    var btn_checkout = document.getElementById("btn_checkout");    

    btn_checkout.addEventListener('click',
    function(){
        Order();
    });

    function Order(){
        var dict = {}
        var id = document.getElementById("item_id");
        dict["item_id"] = id.value;
        var url = '/order/cart/'+id.value+'/'; 
        window.location = url;
    }

    function carts(){
        if (event.target.id.includes('col_')){
            id = event.target.id;
            var d = document.getElementById(id);
            if(d != null && d.className.includes("bg-light") != true){
                d.classList.add("bg-light");
            }
            for(let i=0; i<col_cart.length; i++){
                if (col_cart[i].id != d.id && col_cart[i].className.includes("bg-light")){
                    col_cart[i].classList.remove("bg-light");
                }
            }
            var dict = {}
            var dict = {}
            if (id.includes("col_") == true){
            id = id.replace('col_','');
            dict["item"] = id;
            $.ajax({
                type: "GET",
                url: "{% url 'cart' %}",
                data: dict,
                dataType: "json",
                success:function(response){
                    // item_id.innerHTML = '';
                    item_id.value = '';
                    // item_id.innerHTML = id;
                    item_id.value = id;
                    total_price.innerHTML = response.resp;
                    total_price.value = response.resp;
                    btn_checkout.disabled = false;
                },
                error:function(response){
                    console.log(response.resp);
                },
            });
            }
        }
    }

    function remove(){
        id = event.target.id
        var dict = {}
        var csrf = document.getElementsByName("csrfmiddlewaretoken")[0].value;
        dict["csrfmiddlewaretoken"] = csrf;
        console.log(id);
        if (id.includes("btn") == true){
            ids = id.replace('btn','');
            dict["cart"] = ids
            var btn = document.getElementById(id);
            var lis  = btn.parentNode.parentNode.parentNode;
            $.ajax({
                type: "POST",
                url: "{% url 'cart_remove' %}",
                data: dict,
                dataType: "json",
                success:function(response){
                    if (response.status == 200){
                        lis.remove();
                        var cart = document.getElementById('cart');
                        var cart_count = document.getElementById('cart_count'); 
                        cart.value = response.cart;
                        cart.innerHTML = response.cart;
                        cart_count.value = response.cart;
                        cart_count.innerHTML = response.cart;
                        if(response.cart == 0){
                            var row = document.getElementById("row");
                            row.remove();
                            var div_empty = document.createElement("div");
                            div_empty.classList.add("text-center");
                            var text = document.createElement("h5")
                            text.innerHTML = "Your Shopping Cart is empty. Please select atlease one item to proceed.";
                            div_empty.append(text)
                            var cont = document.getElementById("container");
                            cont.append(div_empty);
                        }
                    }
                    else{
                    }
                },
                error:function(response){
                    console.log(response);
                },
            });
        }
        else{
            console.log('nan')
        }
    }
</script>
{% endblock content %}